<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Random GIF</h2>
      <img src="{{url}}" />
      <h4>This app is running on:</h4>
      <p style="color:rgb(160, 51, 51);"><b>{{hostname}}</b></p>
      <p>Autor | Hermes Vargas </p>
    </div>
  </body>
</html>